body{
    margin: 0;
    padding: 0;
}
.divheader{
    padding: 10px;
    display: flex;
   position: static;
    font-size: 30px;
    font-family: cursive;
    background: linear-gradient(to right,rgb(110, 236, 226),blue) ;
    justify-content: space-around;
    border: 5px solid black;
    text-decoration:underline;
}
.logo{
    width: 200px;
    height: 200px;
}
.compraelogin{
    border: 2px solid black;
    padding: 10px;
    justify-content: space-around;
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
a{
    color: white;
}
.divheader,a{
    padding:30px;
}


